Google-Maps-Scraper-(Places-API).json
{
  "nodes": [
    {
      "parameters": {},
      "id": "04644f70-b54b-4df8-aa7b-2c163132efaf",
      "name": "Remove Duplicate URLs",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1264,
        720
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "14a72fb4-c796-4642-bf02-7057b242ad4b",
      "name": "Loop over queries",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        176,
        -64
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "041797f2-2fe2-41dc-902a-d34050b9b304",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)"
            },
            {
              "id": "eb499a7e-17bc-453c-be08-a47286f726dd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0691a0e9-e357-4638-9e36-6cd6dae65a9d",
      "name": "Filter irrelevant URLs",
      "type": "n8n-nodes-base.filter",
      "position": [
        992,
        720
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "bab8794e-6fb5-40f6-8009-801b568b3da1",
      "name": "Loop over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1776,
        576
      ],
      "typeVersion": 3,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "67fd3393-e96a-43ed-89a0-d9a2d19bb439",
      "name": "Starts scraper workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -48,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c709fba5-6f1c-450d-8f37-e81cebb860d8",
      "name": "Run workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -64,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "e36282f9-3f97-43f4-96f2-6f7c1b0f51ed",
      "name": "Wait between executions",
      "type": "n8n-nodes-base.wait",
      "position": [
        560,
        32
      ],
      "webhookId": "40eb11a9-0f7d-4932-993e-0052b69dbf9b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "6df2dd33-95bf-45a7-802c-34c18d9eced1",
      "name": "Execute scraper for query",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        384,
        32
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Goog-Api-Key",
              "value": "YOUR-API-KEY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.formattedAddress,places.id,places.rating,places.websiteUri"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $json.query }}\",\n  \"languageCode\": \"de\",\n  \"pageSize\": {{ $json.pageSize }}\n}",
        "options": {}
      },
      "name": "Google Places Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        720
      ],
      "id": "83768c85-27e5-4910-a519-5b3a1612dd7a"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.websiteUri }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Filter - Only with Website",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        704,
        720
      ],
      "id": "f9b35afc-121a-41d6-b530-b170c0dfa896"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        720
      ],
      "id": "b14ab7e3-4644-408d-ab19-bcea763494e1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LcU2ciwo1JUU_2UzOWkERAt2rtcSmvlGoD-OFHjRMD4",
          "mode": "list",
          "cachedResultName": "Lead scraper test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LcU2ciwo1JUU_2UzOWkERAt2rtcSmvlGoD-OFHjRMD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LcU2ciwo1JUU_2UzOWkERAt2rtcSmvlGoD-OFHjRMD4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        352
      ],
      "id": "c88e2aa6-8701-4014-99a4-e43e169a096f",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p9jE9pkVW2289iAm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "URL",
              "field2": "websiteUri"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1504,
        544
      ],
      "id": "1d78ded4-8b6c-438f-895c-1d2747740761",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "9332328b-8d94-49d7-a408-c18e2f0f51ad",
      "name": "Request web page for URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2704,
        592
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LcU2ciwo1JUU_2UzOWkERAt2rtcSmvlGoD-OFHjRMD4",
          "mode": "list",
          "cachedResultName": "Lead scraper test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LcU2ciwo1JUU_2UzOWkERAt2rtcSmvlGoD-OFHjRMD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LcU2ciwo1JUU_2UzOWkERAt2rtcSmvlGoD-OFHjRMD4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.URL }}",
            "Name": "={{ $json.output.firmen_profil.firmen_name_rechtlich }}",
            "LEAD ID": "={{ $json.lead_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead Kontaktiert",
              "displayName": "Lead Kontaktiert",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LEAD ID",
              "displayName": "LEAD ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Geschäftsführer",
              "displayName": "Geschäftsführer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Kontakt",
              "displayName": "Email Kontakt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefon Kontakt",
              "displayName": "Telefon Kontakt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Erreichbarkeit Öffnungszeiten",
              "displayName": "Erreichbarkeit Öffnungszeiten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Unternehmensanalyse",
              "displayName": "Unternehmensanalyse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "e7fb24cd-ff88-4931-8e9a-aa268ff44f17",
      "name": "Save emails to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2144,
        288
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p9jE9pkVW2289iAm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.combined_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=WICHTIGE SICHERHEITSREGELN (STRIKTE EINHALTUNG ERFORDERLICH):\n1. KEINE HALLUZINATIONEN: Erfinde NIEMALS Daten. Wenn eine Information (z.B. Name des GF oder E-Mail) nicht explizit im Text steht, gib 'null' zurück.\n2. KEINE E-MAIL-KONSTRUKTION: Baue niemals E-Mails aus Namen zusammen (z.B. nicht einfach vorname.nachname@... raten). Extrahiere nur E-Mails, die sichtbar im Text stehen (z.B. mailto: Links oder Text).\n3. KEINE PLATZHALTER: Namen wie \"Max Mustermann\" oder \"Beispiel Mitarbeiter\" sind verboten.\n4. TRENNUNG GENERIC VS. PERSONAL: Eine \"info@\", \"kontakt@\" oder \"office@\" Adresse darf NIEMALS in das Feld 'email_persoenlich' geschrieben werden.\n\nDu bist ein Senior Sales Development Representative (SDR) für eine Agentur, die KI-Telefonassistenten (Voice Agents) verkauft.\nDeine Aufgabe: Analysiere die Website eines potenziellen Kunden und extrahiere Daten, um ihm eine hochpersonalisierte Cold-Email zu schreiben.\n\nWir suchen nach \"Pain Points\": Warum braucht DIESE Firma einen 24/7 Telefon-Bot?\n\nANWEISUNGEN ZUR ANALYSE:\n\n1.  **Erreichbarkeits-Check (Der \"Pain Point\"):**\n    * Analysiere die Öffnungszeiten kritisch. Sind sie eingeschränkt (z.B. nur vormittags, Mittagspause)? -> Das ist ein Verkaufsargument (verpasste Anrufe).\n    * Gibt es Hinweise auf \"Terminvereinbarung per Telefon\"? -> Perfekter Use-Case für KI.\n    * Gibt es Notdienste oder 24/7 Bedarf?\n\n2.  **Unternehmens-Analyse (Sales-Fokus):**\n    * **Tech-Stack:** Nutzen sie schon Tools wie Calendly oder Doctolib? (Wenn ja: Integration anbieten. Wenn nein: Digitalisierung anbieten).\n    * **Branche & Fokus:** Was machen sie genau? (z.B. \"Fahrschule mit Fokus auf Intensivkurse\").\n\n3.  **Kontakt-Daten (Hierarchie):**\n    * Suche Entscheider (Inhaber, GF).\n    * Ordne E-Mails strikt echten Personen zu.\n    * Trenne die \"Support-Hotline\" (die wir durch KI ersetzen wollen) von der \"Durchwahl des Chefs\" (wo wir anrufen wollen).\n\nAUSGABE (Strict JSON Schema):"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3424,
        592
      ],
      "id": "7d9cc6b4-905a-4f7e-beeb-a17ae4f29a98",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"firmen_profil\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"firmen_name_rechtlich\": {\n          \"type\": [\"string\", \"null\"],\n          \"description\": \"Offizieller Name inkl. Rechtsform aus Impressum. Null wenn nicht gefunden.\"\n        },\n        \"branche_kurz\": {\n          \"type\": \"string\",\n          \"description\": \"Kurze Einordnung: z.B. 'Fahrschule', 'SHK-Betrieb', 'Zahnarzt'\"\n        }\n      }\n    },\n    \"sales_analyse_fuer_ki_bot\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"nutzen_argumentation\": {\n          \"type\": \"string\",\n          \"description\": \"Eine prägnante Erklärung zum Pain Point. Z.B.: 'Da Sie Mittags geschlossen haben, entgehen Ihnen Anrufe.'\"\n        },\n        \"terminbuchung_modus\": {\n          \"type\": \"string\",\n          \"description\": \"Wie bucht man aktuell? (Telefon, Email, Tool)\"\n        },\n        \"oeffnungszeiten_analyse\": {\n          \"type\": \"string\",\n          \"description\": \"Kritische Analyse der Erreichbarkeit.\"\n        }\n      }\n    },\n    \"ansprechpartner\": {\n      \"type\": \"array\",\n      \"description\": \"Liste echter Personen. KEINE Platzhalter.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"full_name\": {\n            \"type\": \"string\",\n            \"description\": \"Voller Name der Person (GF, Inhaber). KEINE Fiktiven Namen.\"\n          },\n          \"rolle\": {\n            \"type\": \"string\",\n            \"description\": \"Position im Unternehmen (z.B. Geschäftsführer, Inhaber)\"\n          },\n          \"email_persoenlich\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"STRIKT: Nur echte, gefundene persönliche E-Mails (z.B. m.mueller@firma.de). KEINE 'info@', KEINE konstruierten E-Mails. Wenn nicht im Text gefunden, MUSS dies der JSON-Wert null sein (NICHT der String 'null').\"\n          }\n        }\n      }\n    },\n    \"kontakt_zentrale\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"telefon_zentrale\": {\n          \"type\": [\"string\", \"null\"],\n          \"description\": \"Allgemeine Rufnummer.\"\n        },\n        \"email_allgemein\": {\n          \"type\": [\"string\", \"null\"],\n          \"description\": \"Allgemeine E-Mail wie info@, kontakt@, buero@.\"\n        }\n      }\n    }\n  },\n  \"required\": [\n    \"firmen_profil\",\n    \"sales_analyse_fuer_ki_bot\",\n    \"ansprechpartner\",\n    \"kontakt_zentrale\"\n  ]\n}",
        "autoFix": "={{ false }}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3616,
        912
      ],
      "id": "0b661bc2-f440-4e08-ab98-5bd7e40e365a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3376,
        912
      ],
      "id": "ac7aa510-901d-4f95-b46b-4114e681c81d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9CkHVweoUB5v5XAl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "cleaned_text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3056,
        592
      ],
      "id": "f5320d84-98fe-4313-9743-e61dc9e628e9",
      "name": "HTML",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst baseUrl = $input.first().json.URL.replace(/\\/$/, \"\");\n\nreturn [\n  { json: { url: baseUrl } },\n  { json: { url: `${baseUrl}/kontakt/` } },\n  { json: { url: `${baseUrl}/impressum/` } },\n  { json: { url: `${baseUrl}/team/` } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        592
      ],
      "id": "18e910fb-cad2-4de4-9b27-9d19ce414a43",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Hole Ergebnisse aller 4 Seiten\nconst items = $input.all();\n\n// 2. Text zusammenbauen\nlet fullText = \"\";\n\nfor (const item of items) {\n  // Text aus dem HTML-Node holen\n  let content = item.json.cleaned_text || \"\";\n  const url = item.json.url || \"Webseite\";\n\n  // --- NEU: URL-Bereinigung ---\n  \n  // 1. Entfernt alles, was mit http:// oder https:// beginnt (bis zum nächsten Leerzeichen)\n  content = content.replace(/https?:\\/\\/[^\\s]+/g, '');\n  \n  // 2. Entfernt alles, was mit www. beginnt\n  content = content.replace(/www\\.[^\\s]+/g, '');\n\n  // 3. Entfernt E-Mail-Adressen (Optional, falls du nur Kontaktformular willst)\n  // content = content.replace(/[\\w\\.-]+@[\\w\\.-]+\\.\\w+/g, ''); \n\n  // 4. Aufräumen: Doppelte Leerzeichen entfernen, die durch das Löschen entstanden sind\n  content = content.replace(/\\s+/g, ' ').trim();\n\n  // -----------------------------\n\n  // Nur hinzufügen, wenn nach der Reinigung noch Text da ist\n  if (content.length > 20) { // Habe Limit auf 20 erhöht, um leere Fragmente zu filtern\n    fullText += `\\n\\n========================================\\n`;\n    fullText += `QUELLE: ${url}\\n`;\n    fullText += `========================================\\n`;\n    fullText += content + \"\\n\";\n  }\n}\n\n// 3. Ergebnis zurückgeben\nreturn {\n  json: {\n    combined_text: fullText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        592
      ],
      "id": "5946833e-2154-40a8-b5d1-0c3cb1009cb1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "195978a8-8a91-4651-bd7d-80cdae9b5641",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2880,
        592
      ],
      "id": "9c0d2892-e323-4aef-b0eb-dcfe40f80801",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4160,
        576
      ],
      "id": "c3cc18bd-6d2d-4002-b97f-b6cd84ffd871",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8af81044-f407-4d4e-bcaf-1b8e6c3016f5",
              "name": "URL",
              "value": "={{ $json.websiteUri }}",
              "type": "string"
            },
            {
              "id": "af2a36c7-5be9-4fa6-a060-ef7fdbf7ebaa",
              "name": "NAME",
              "value": "={{ $json.displayName.text }}",
              "type": "string"
            },
            {
              "id": "4e39ebaa-d06b-4f6c-8bd4-03983a44e373",
              "name": "lead_id",
              "value": "={{ $json.lead_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        592
      ],
      "id": "55d84d85-5fe0-42ac-af10-41084381c207",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Generiert eine zufällige ID basierend auf Zeit und Zufallszahl\nitems[0].json.lead_id = 'id_' + Math.random().toString(36).substr(2, 9);\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        592
      ],
      "id": "6c364a31-a30e-426a-ae0a-5fe106234439",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "companies",
          "mode": "list",
          "cachedResultName": "companies"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.lead_id }}",
            "name": "={{ $json.output.firmen_profil.firmen_name_rechtlich }}",
            "website": "={{ $json.URL }}",
            "branche": "={{ $json.output.firmen_profil.branche_kurz }}",
            "opening_hours_analysis": "={{ $json.output.sales_analyse_fuer_ki_bot.oeffnungszeiten_analyse }}",
            "booking_mode": "={{ $json.output.sales_analyse_fuer_ki_bot.terminbuchung_modus }}",
            "pain_point": "={{ $json.output.sales_analyse_fuer_ki_bot.nutzen_argumentation }}",
            "general_email": "={{ $json.output.kontakt_zentrale.email_allgemein }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "branche",
              "displayName": "branche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_point",
              "displayName": "pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "booking_mode",
              "displayName": "booking_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opening_hours_analysis",
              "displayName": "opening_hours_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "general_email",
              "displayName": "general_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_draft",
              "displayName": "email_draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4528,
        944
      ],
      "id": "2cd7e9ba-41ee-4a76-a9eb-ced32f54eacd",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "jouw35SfnifnYHRL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "role": "={{ $json['output.ansprechpartner'].rolle }}",
            "email": "={{ $json['output.ansprechpartner'].email_persoenlich }}",
            "company_id": "={{ $json.lead_id }}",
            "full_name": "={{ $json['output.ansprechpartner'].full_name }}",
            "Company_name": "={{ $json.output.firmen_profil.firmen_name_rechtlich }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_draft",
              "displayName": "email_draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company_name",
              "displayName": "Company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5200,
        784
      ],
      "id": "145c69a3-158f-415c-9865-f6b5c7fe04bf",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "jouw35SfnifnYHRL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.ansprechpartner",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4992,
        784
      ],
      "id": "da134690-5987-4f89-9558-981e9bbb0943",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "lead_id, id",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4736,
        784
      ],
      "id": "fbca0c4a-d032-45d9-a851-e15219670c3e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5408,
        592
      ],
      "id": "4c8beb9a-5e97-4251-bd38-2142290543b6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Dieser Code repariert KI-Fehler (Strings wie \"null\", \"NULL\", \"n/a\" werden zu echtem null)\n\nreturn $input.all().map(item => {\n  // Wir arbeiten auf einer Kopie der JSON-Daten\n  let data = item.json;\n\n  // Rekursive Funktion, die durch alle Ebenen des Objekts geht\n  const cleanData = (obj) => {\n    // Wenn das Objekt null ist, hör auf\n    if (!obj) return;\n\n    for (const key in obj) {\n      const value = obj[key];\n\n      // 1. Fall: Es ist ein String -> Prüfen ob es \"null\" oder \"n/a\" ist\n      if (typeof value === 'string') {\n        const lower = value.trim().toLowerCase();\n        // Liste der \"bösen Wörter\", die die KI gerne statt leerem Feld nutzt\n        if (['null', 'n/a', 'none', 'keine angabe', 'not found', 'undefined'].includes(lower)) {\n          obj[key] = null; // Ersetze Text durch echtes NULL\n        }\n      }\n      \n      // 2. Fall: Es ist ein Array (z.B. ansprechpartner) -> Durchlaufe jedes Item\n      else if (Array.isArray(value)) {\n        value.forEach(subItem => cleanData(subItem));\n      }\n      \n      // 3. Fall: Es ist ein verschachteltes Objekt (z.B. firmen_profil) -> Geh tiefer rein\n      else if (typeof value === 'object' && value !== null) {\n        cleanData(value);\n      }\n    }\n  };\n\n  // Starte den Reinigungsprozess\n  cleanData(data);\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        592
      ],
      "id": "11b49cda-76da-401c-afc5-19347da9eb5b",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "snDihqjO51JrKTtx",
          "mode": "list",
          "cachedResultUrl": "/workflow/snDihqjO51JrKTtx",
          "cachedResultName": "Emailkampagne"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        288
      ],
      "id": "a7d4dc29-8d4d-431a-a4a1-25aad922947b",
      "name": "Call 'Emailkampagne'"
    }
  ],
  "connections": {
    "Remove Duplicate URLs": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop over queries": {
      "main": [
        [],
        [
          {
            "node": "Execute scraper for query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter irrelevant URLs": {
      "main": [
        [
          {
            "node": "Remove Duplicate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over URLs": {
      "main": [
        [
          {
            "node": "Save emails to Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starts scraper workflow": {
      "main": [
        [
          {
            "node": "Google Places Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run workflow": {
      "main": [
        [
          {
            "node": "Loop over queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait between executions": {
      "main": [
        [
          {
            "node": "Loop over queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute scraper for query": {
      "main": [
        [
          {
            "node": "Wait between executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places Search": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only with Website": {
      "main": [
        [
          {
            "node": "Filter irrelevant URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter - Only with Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Loop over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request web page for URL": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save emails to Google Sheet": {
      "main": [
        [
          {
            "node": "Call 'Emailkampagne'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Request web page for URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Loop over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "pinData": {
    "Starts scraper workflow": [
      {
        "query": "München+Sanitär+Heizung",
        "pageSize": 4
      }
    ],
    "Run workflow": [
      {
        "query": "München+Sanitär+Heizung",
        "pageSize": 1
      },
      {
        "query": "München+Elektriker",
        "pageSize": 1
      },
      {
        "query": "München+Dachdecker",
        "pageSize": 1
      },
      {
        "query": "München+Hausverwaltung",
        "pageSize": 1
      },
      {
        "query": "München+Immobilienmakler",
        "pageSize": 1
      },
      {
        "query": "München+Autohaus",
        "pageSize": 1
      },
      {
        "query": "München+Kfz+Werkstatt",
        "pageSize": 1
      },
      {
        "query": "München+Restaurant",
        "pageSize": 1
      },
      {
        "query": "München+Hotel",
        "pageSize": 1
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49c2a7ace75afd17daf9a6ae4261d44407edd48419c12eeedf4c413c285b9675"
  }
}
